body
{
    background: linear-gradient(to right, #ff4d4d 0%, #000000 100%);
}

.container-flex
{
    text-align: center;
    padding-top: 5rem;
    background: linear-gradient(to right, #ff4d4d 0%, #000000 100%);
}

input
{
    border-radius: 3px;
    border-width: 1px;
    padding: 3px 10px;
}

h1
{
    font-family: "Comfortaa",cursive;
    text-align: left;
    padding-left: 15rem;
    color: white;
}

hr
{
    height:2px;
    border-width:0;
    color:gray;
    background-color:black;
}

h3
{
    color: #ffff00;
}